##########################################################################
# Define network policies for the sciencedata and sciencedata-dev namespaces
# default allow external, reject internal, and reject the trusted silo net
##########################################################################

{% for ns in ['sciencedata', 'sciencedata-dev'] %}
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: sciencedata-network
  namespace: {{ ns }}
spec:
  order: 0
  selector: all()
  egress:
# Deny traffic to the trusted silo subnet
    - action: Deny
      destination:
        nets:
          - {{ trusted_silo_cidr }}
# Allow traffic to the internal kubernetes dns server
    - action: Allow
      destination:
        namespaceSelector:
          projectcalico.org/name == 'kube-system'
        selector: k8s-app == 'kube-dns'
# Deny all other traffic to kubernetes components
    - action: Deny
      destination:
        namespaceSelector: all()
        selector: all()
# Allow what remains (external only)
---
{% endfor %}

##########################################################################
# Globally prohibit traffic to the trusted network, expect for kube-system
# which needs to access the dns server in the local gateway
##########################################################################

apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: block-private
spec:
  order: 0
  selector: all()
  namespaceSelector: projectcalico.org/name != 'kube-system'
  egress:
    - action: Deny
      destination:
        nets:
          - {{ trusted_silo_cidr }}
    - action: Allow
---


##########################################################################
# Define HostEndpoints for each interface in the cluster
# with labels for whether they have a trusted or a public IP address
##########################################################################
{% for host in groups.cluster %}
{% if hostvars[host]['trusted_network_interface'] %}
apiVersion: projectcalico.org/v3
kind: HostEndpoint
metadata:
  name: {{ hostvars[host]['ansible_hostname'] }}-{{ hostvars[host]['trusted_network_interface'] }}
  labels:
    trusted-network: {{ hostvars[host]['ansible_hostname'] }}
spec:
  interfaceName: {{ hostvars[host]['trusted_network_interface'] }}
  node: {{ hostvars[host]['ansible_hostname'] }}
  expectedIPs:
    - {{ hostvars[host]['trusted_network_address'] }}
---
{% endif %}
{% if hostvars[host]['public_network_interface'] is defined %}
apiVersion: projectcalico.org/v3
kind: HostEndpoint
metadata:
  name: {{ hostvars[host]['ansible_hostname'] }}-{{ hostvars[host]['public_network_interface'] }}
  labels:
    public-network: {{ hostvars[host]['ansible_hostname'] }}
spec:
  interfaceName: {{ hostvars[host]['public_network_interface'] }}
  node: {{ hostvars[host]['ansible_hostname'] }}
  expectedIPs:
    - {{ hostvars[host]['public_network_address'] }}
---
{% endif %}
{% endfor %}

##########################################################################
# Define a default allow rule for all traffic once it gets to the cluster.
##########################################################################
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: default-allow
spec:
  order: 99
  ingress:
    - action: Allow
  egress:
    - action: Allow
  selector: all()
---

