*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -s localhost/8 -j ACCEPT
-A INPUT -s 10.0.0.0/16 -p tcp -m tcp --dport 22 -j ACCEPT
-A INPUT -p tcp -m tcp --dport 22 -j REJECT --reject-with icmp-port-unreachable
-A INPUT -s 10.0.0.0/16 -p tcp -m tcp --dport 6443 -j ACCEPT
-A INPUT -p tcp -m tcp --dport 6443 -j REJECT --reject-with icmp-port-unreachable
{% if trusted_network_interface is defined +%}
-A INPUT -i {{ trusted_network_interface }} -j ACCEPT
{% endif %}
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -p tcp --dport 443 -j ACCEPT
{% if public_network_address is defined +%}
-A INPUT -s {{ public_network_address }} -j ACCEPT
{% endif %}
{% if public_network_interface is defined +%}
-A INPUT -i {{ public_network_interface }} -j DROP
{% endif %}
COMMIT
